.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-horizontal {
  display: flex;
}

.root {
  composes: flex-vertical;
  width: 100%;
  height: auto;
  padding: 15px 15px 15px 0px;
}

.header {
  composes: flex-horizontal;
}

.title {
  flex: auto;
}

.action-panel {
  composes: flex-horizontal;
  justify-items: center;
  margin-bottom: 10px;
}
.action-panel-left {
  composes: action-panel;
  justify-content: flex-start;
}

.action-panel-right {
  composes: action-panel;
  justify-content: flex-end;
}

.action-panel-left > button, .action-panel-right > button {
  margin-left: 10px;
}

.content {
  composes: flex-vertical;
  flex: 1;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.footer {
  margin-top: 10px;
}

.button {
  cursor: pointer;
  padding: 0px 15px;
  color: #FFFFFF;
  background-color: var(--space500);
  font-size: 12px;
  height: 10px;
}

/* text control */
.text-control {
  composes: flex-horizontal;
  min-height: 38px;
  border: 1px solid var(--snow300);
  margin: 0 5px 5px 0;
  border-radius: 4px;
}

.text-control-error {
  composes: text-control;
  border: 1px solid var(--space500);
}

.text-control-note {
  composes: flex-horizontal;
  min-height: 38px;
  margin: 0 5px 5px 0;
}

.text-control-title {
  margin: 5px;
  color: var(--office);;
  min-width: 160px;
  align-self: center;
}

.text-control-input-container {
  composes: flex-horizontal;
  flex: 1;
}

.text-control-input {
  flex: 1;
  font-size: 14px;
  padding-left: 10px;
  border-left: 1px var(--snow300) solid;
  border-radius: 0 4px 4px 0;
}

.text-control-input-note {
  composes: text-control-input;
  border-left: none;
  font-size: 12px;
}

.text-control-input-edit-mode {
  flex: 1;
  align-self: stretch;
  padding-left: 10px;
  font-size: 14px;
  outline: none;
  background-color: var(--snow200);
  border-left: 1px var(--snow300) solid;
  border-radius: 0 4px 4px 0;
}

.text-control-input-error {
  composes: text-control-input-edit-mode;
  background-color: var(--snow500);
  border-left-color: var(--space500);
}

.text-control-copy-button {
  padding: 0 20px;
  align-self: stretch;
  color: var(--snow200);
  background-color: var(--space500);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.text-control-copy-button:hover {
  background-color: var(--space300);
}

/* Stepper styles */
.stepper-buttons-container {
  composes: flex-vertical;
}

.stepper-button {
  cursor: pointer;
  padding: 0px 15px;
  color: #FFFFFF;
  background-color: var(--space500);
  font-size: 12px;
  height: 10px;
}

.stepper-button-minus {
  composes: stepper-button;
  border-bottom-right-radius: 4px;
}

.stepper-button-plus {
  composes: stepper-button;
  border-top-right-radius: 4px;
  border-bottom: 1px solid var(--snow300);
}

/* Tab pane */
.tab-pane {
  composes: flex-vertical;
  border: 1px solid var(--snow300);
  margin-top: 10px;
  border-radius: 4px;
}

.tab-pane-headers {
  composes: flex-horizontal;
  font-size: 16px;
  min-height: 30px;
  border-bottom: 1px solid #D7DBDD;
}

.tab-header {
  text-transform: capitalize;
  cursor: pointer;
  color: var(--space500);
  font-size: 12px;
  border-bottom: 2px solid transparent;
  align-self: flex-end;
  min-width: 100px;
  padding-left: 10px
}

.tab-header-active {
  text-transform: capitalize;
  cursor: pointer;
  color: var(--space500);
  font-size: 12px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  border-bottom-color: var(--space500);
  align-self: flex-end;
  min-width: 100px;
  padding-left: 10px;
}

.tab-content {
  composes: flex-vertical;
  font-size: 16px;
  flex: 1 1 auto;
}

/* List tab */
.list-items {
  composes: flex-vertical;
  flex: 1 1 auto;
  width: 100%;
  padding: 5px;
}

.list-item {
  composes: flex-horizontal;
  box-sizing: border-box;
  color: #171e42;
  padding: 5px 0px;
  cursor: pointer;
  min-height: 30px;
}

.list-add-item {
  box-sizing: border-box;
  font-weight: bold;
  color: var(--office);
  padding: 5px 0px;
  cursor: pointer;
  min-height: 250px;
}

/* Tooltip */
.tooltip-managed {
  position: relative;
}

.tooltip-managed .tooltip-text {
  width: 200px;
  background-color: var(--space500);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 110%;
  margin-left: -60px;
  opacity: 0.8;
}

.tooltip-managed .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5p solid transparent transparent var(--space500) transparent;;
}

/* Table tab */
.table {
  composes: flex-vertical;
  overflow-y: auto;
  border-radius: 0 0 4px 4px;
}

.table-error {
  composes: table;
  background-color: var(--snow500);
  border: 1px solid var(--space500);
}

.table-header {
  composes: flex-horizontal;
  flex: 1;
  min-height: 30px;
}

.table-column {
  flex: 1;
  align-self: center;
  margin: 5px;
}

.table-header-column {
  composes: table-column;
  font-weight: bold;
  border-bottom: 1px solid var(--space300);
}

.table-row-number {
  align-self: center;
  margin: 5px;
  width: 20px;
}

.table-row-number-header {
  composes: table-row-number;
  border-bottom: 1px solid var(--space300);
}

.table-row {
  composes: flex-horizontal;
  flex: 1;
  margin: 1px 0;
  min-height: 30px;
  cursor: pointer;
}

.table-row:nth-child(even) {
  background-color: var(--snow200);
}

/* Containers */
.horizontal-container {
  composes: flex-horizontal;
}

.vertical-container {
  composes: flex-vertical;
  flex: 1;
}